<section id="recommendations" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">recommendations:</h2>
                    <h3 class="section-subheading text-muted">The story so far.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 recommendations-item">
                    <a href="#recommendationsModal1" class="recommendations-link" data-toggle="modal">
                        <div class="recommendations-hover">
                            <div class="recommendations-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/recommendations/roundicons.png" class="img-responsive" alt="">
                    </a>
                    <div class="recommendations-caption">
                        <h4>Round Icons</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 recommendations-item">
                    <a href="#recommendationsModal2" class="recommendations-link" data-toggle="modal">
                        <div class="recommendations-hover">
                            <div class="recommendations-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/recommendations/startup-framework.png" class="img-responsive" alt="">
                    </a>
                    <div class="recommendations-caption">
                        <h4>Startup Framework</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 recommendations-item">
                    <a href="#recommendationsModal3" class="recommendations-link" data-toggle="modal">
                        <div class="recommendations-hover">
                            <div class="recommendations-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/recommendations/treehouse.png" class="img-responsive" alt="">
                    </a>
                    <div class="recommendations-caption">
                        <h4>Treehouse</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>

                <!-- row 2 -->
                <div class="row">
                <div class="col-md-4 col-sm-6 recommendations-item">
                    <a href="#recommendationsModal1" class="recommendations-link" data-toggle="modal">
                        <div class="recommendations-hover">
                            <div class="recommendations-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/recommendations/roundicons.png" class="img-responsive" alt="">
                    </a>
                    <div class="recommendations-caption">
                        <h4>Round Icons</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 recommendations-item">
                    <a href="#recommendationsModal2" class="recommendations-link" data-toggle="modal">
                        <div class="recommendations-hover">
                            <div class="recommendations-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/recommendations/startup-framework.png" class="img-responsive" alt="">
                    </a>
                    <div class="recommendations-caption">
                        <h4>Startup Framework</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 recommendations-item">
                    <a href="#recommendationsModal3" class="recommendations-link" data-toggle="modal">
                        <div class="recommendations-hover">
                            <div class="recommendations-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/recommendations/treehouse.png" class="img-responsive" alt="">
                    </a>
                    <div class="recommendations-caption">
                        <h4>Treehouse</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <!-- row 2 -->
                <div class="row">
                <div class="col-md-4 col-sm-6 recommendations-item">
                    <a href="#recommendationsModal1" class="recommendations-link" data-toggle="modal">
                        <div class="recommendations-hover">
                            <div class="recommendations-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/recommendations/roundicons.png" class="img-responsive" alt="">
                    </a>
                    <div class="recommendations-caption">
                        <h4>Round Icons</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 recommendations-item">
                    <a href="#recommendationsModal2" class="recommendations-link" data-toggle="modal">
                        <div class="recommendations-hover">
                            <div class="recommendations-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/recommendations/startup-framework.png" class="img-responsive" alt="">
                    </a>
                    <div class="recommendations-caption">
                        <h4>Startup Framework</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 recommendations-item">
                    <a href="#recommendationsModal3" class="recommendations-link" data-toggle="modal">
                        <div class="recommendations-hover">
                            <div class="recommendations-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/recommendations/treehouse.png" class="img-responsive" alt="">
                    </a>
                    <div class="recommendations-caption">
                        <h4>Treehouse</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>

            </div>
        </div>
    </section>


